body {
    margin: 0px;
    background: #e98ff2;
}
h1 {
    
    font-size:50px;
    color: #F08A5D;
    -webkit-text-stroke: 2px black;
    margin:0px;
    font-family: Helvetica, SANS-SERIF;
    text-align: center;
}
li {
    display: inline;
    margin: 5px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #ff9f21;
}
a:link {
    background-color: #38a2ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
}
li :hover{
    background-color: #B83B5E;
    
}
p {
    font-size: large;
    text-align: center;
}
th {
    font-size: 30px;
}
td {
    font-size: 25px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
th, td {
    background-color: #96D4D4;
  }
.center {
    background-color: #F9ED69;
    padding: 10px;
    text-align: center;
    border-top:5px solid #B83B5E;
    border-bottom:5px solid #B83B5E;
}
.row {
    display: flex;
    background-color: #f8b3ff;
}
  
.col {
    flex: 1;
    text-align: center;
    padding: 1em;
    border: solid;
}
table, th, td {
    border:1px solid black;
}
.navigation {
    background-color: #a2ff99;
    padding: 8px;
    text-align: center;
    border-bottom:5px solid #B83B5E;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }