<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="static/images/tabIcon.ico">
    <title>Sensor Monitoring</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
    <div>
        <div class="center">
            <h1>Sensor Monitoring Dashboard</h1>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="sensors">Sensors</a></li>
                <li><a class="active" href="contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <h1>
        Email:
        yaniyanislav1234@gmail.com
    </h1>
</body>
</html>